html {
  background-color: pink;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position:relative;
}

li {
  float: left;
}
#pokeprice {
  font-weight:bold;
  text-align:center;
  bottom:0;
  position: absolute;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #250B00;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


.spil {
  background-color: #FF1100;
  float: right;
}

.spila:hover:not(.sactive) {
  background-color: #A60B00;
}

.sactive {
  background-color: red;
}

.test {
  float:right;
}

.top {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.left {
  float:left;
  width:50%;
  height:800px;
}
.right {
  float:right;
  width:50%;
  height:800px;

}
#stats {
  padding-top:25px;
  text-align:left;
  width:200px; e
  height:auto;

}

.clicker{
  border-radius:125px;
  border:2px solid #000;
}
#bottomshop {
  bottom:0px;
  position: absolute;
  height:100px !important;
  text-align:left;
}

.pokemon {
  display:inline-block;
  width:100px;
  height:100px;
  border:2px solid #ddd;
  border-radius:5px;
  margin-right:20px;
  color:red;
  background-size: cover;
    position: relative;
    text-align:center;
}


.top {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.left {
  float:left;
  width:50%;
  height:800px;
}
.right {
  float:right;
  width:50%;
  height:800px;

}
#stats {
  padding-top:25px;
  text-align:left;
  width:200px;
  height:auto;
}
.clicker{
  border-radius:125px;
  border:0px solid #000;
}
#bottomshop {
  bottom:0px;
  position: absolute;

  height:100px !important;
  text-align:left;
}
.pokemon {
  display:inline-block;
  width:100px;
  height:100px;
  border:2px solid #ddd;
  border-radius:5px;
  margin-right:20px;
  color:red;
  background-size: cover;
}

#specs {
  top: 80%;
  position: absolute;
  height:100px !important;
  text-align:left;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #888;
    min-width: 15%;
    max-width: 30%;
    width: auto;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

table.tableizer-table {
  font-size: 12px;
  border: 1px solid #CCC;
  font-family: Arial, Helvetica, sans-serif;
}
.tableizer-table td {
  padding: 4px;
  margin: 3px;
  border: 1px solid #CCC;
}
.tableizer-table th {
  background-color: #C05097;
  color: #FFF;
  font-weight: bold;
}
